<!-- Generated template for the FeedComponent component -->
<ion-content fullscreen>
  <ion-refresher *ngIf="addRefresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <spinner [isVisible]="isFetching && !content.length"></spinner>
  <ion-list>
    <tweet *ngFor="let data of content;trackBy: trackById" [data]="data"></tweet>
  </ion-list>

  <ng-content></ng-content>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>