<!-- Generated template for the TweetComponent component -->
<ion-item text-wrap *ngIf="data" (click)="goToTweetDetails($event)">
  <avatar item-start [user]="data.user" (click)="goToProfile($event, data.user.screen_name)"></avatar>
  <div class="title">
    <h2>{{data.user?.name}}</h2>
    <span class="handle gray">@{{data.user?.screen_name}}</span>
    <span class="gray" *ngIf="!retweetedStatus">·</span>
    <span class="gray" *ngIf="!retweetedStatus">{{timeAgo}}</span>
  </div>
  <tweet-text [text]="data.text" [entities]="this.data.entities"></tweet-text>
  <tweet *ngIf="data.retweeted_status" [data]="data.retweeted_status" [retweetedStatus]="true"></tweet>
  <media *ngIf="!data.retweeted_status && media" [data]="media"></media>
  <og></og>
  <div class="actions" *ngIf="!retweetedStatus">
    <button ion-button clear (click)="reply($event)">
      <ion-icon name="chatboxes"></ion-icon>
    </button>
    <button ion-button clear class="retweet" [class.active]="data.retweeted" (click)="retweet($event)">
      <ion-icon name="repeat"></ion-icon>&nbsp;
      <span *ngIf="data.retweet_count">{{ data.retweet_count }}</span>
    </button>
    <button ion-button clear class="favorite" [class.active]="data.favorited" (click)="favorite($event)">
      <ion-icon name="heart"></ion-icon>&nbsp;
      <span *ngIf="data.favorite_count">{{ data.favorite_count }}</span>
    </button>
  </div>
</ion-item>