profile-header {
    .cover {
        background-repeat: no-repeat;
        background-size: cover;
        height: 160px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
    }
    .user-details {
        padding: 10px;
        margin-top: -40px;
        h2 {
            font-size: 18px;
            margin-bottom: 7px;
            margin-top: 5px;
        }
        h3 {
            font-size: 12px;
            margin-bottom: 0px;
            color: color($colors, gray)
        }
        ion-avatar img {
            width: 80px;
            height: 80px;
            border-radius: 10px;
            border: 4px solid white;
        }
        .following {
            color: color($colors, gray);
            .count{
                color: black;
            }
        }
    }
}